* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FB6B6B;
    font-family: 'Righteous', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}